body
{
	margin: 0 auto;
	line-height: 180%;
	font-family: sans-serif;
	background: #aaa;
}
header
{
	position: relative;
	float: left;
	width: 100%;
	height: 100px;
	background: white;
}

.form{
	position: relative;
	float: center;
	margin: 0 auto;
}